</main>
<footer class="header_n_footerContainer">
  <div class="social_icon">
    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
  </div>

  <div class="menu">
    <a href="#" class="btn">Home</a>
    <a href="#" class="btn">About</a>
    <a href="#" class="btn">Services</a>
    <a href="#" class="btn">Team</a>
    <a href="#" class="btn">Contact</a>
  </div>
  <p class="copyright"> © BlogPost <%= new Date().getFullYear() %>.</p>
</footer>
<script href="./function.js"></script>

</body>

</html>