<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/headerAndFooter.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/blogBody.css">
  <link rel="stylesheet" href="/styles.css">
  <title>BlogPost</title>
</head>

<header class="header_n_footerContainer">
  <div class="headerCard headerTitle">
    <h2>BlogPost</h2>
  </div>
  <div class="headerCard navbar">
    <a href="/" class="btn"><h3>HOME</h3></a>
    <a href="/about" class="btn"><h3>ABOUT US</h3></a>
    <a href="/contact" class="btn"><h3>CONTACT US</h3></a>
  </div>
</header>
<main class="container">