<%- include("partials/header.ejs") %>

<h1>ABOUT US</h1>
<p>
    I Am: <hr>
    I am Carlston Rebelo, I am self-learning web development
</p>
<p>
    My Goal: <hr>
    My goal is to have a professional carreer in web developer
</p>
<p>
    Product Creation: <hr>
    Created this website as a Project of my web development course.
</p>

<%- include("partials/footer.ejs") %>
views\partials\header.ejs